<% if @tenant.plan == 'free' %>
  <h3 class="plan-statement">You are currently on a <%=@tenant.plan %> plan.</h3>
<% end %>

<div class="columns large-4">
  <div class="<% if @tenant.plan == 'free' %>plan-selected <% end %>plan free">
     <% if @tenant.plan == 'free' %>
        <span class="plan-marker"><i class="fa fa-check"></i></span>
      <% end %>
      <h3 class="plan-title">Free Plan</h3>
      <h2 class="plan-cost">$0<span class="per-month">/mo</span></h2>
      <p class="plan-description">Your account is limited to only 3 clients and only 3 projects.</p>
      <div class="button bright-blue-button"><a href="#">Free Plan</a></div>
  </div>
</div>
<div class="columns large-4">
  <div class="<% if @tenant.plan == 'premium' %>plan-selected <% end %>plan premium">
      <% if @tenant.plan == 'premium' %>
        <span class="plan-marker"><i class="fa fa-check"></i></span>
      <% end %>
      <h3 class="plan-title">Premium Plan</h3>
      <h2 class="plan-cost">$10<span class="per-month">/mo</span></h2>
      <p class="plan-description">Unlimited clients and unlimited projects.</p>
      <div data-open="premium-plan-modal" class="button bright-blue-button"><a href="#">Premium Plan</a></div>
  </div>
</div>
<div class="columns large-4">
  <div class="<% if @tenant.plan == 'team' %>plan-selected <% end %>plan team comingSoon">
      <% if @tenant.plan == 'team' %>
        <span class="plan-marker"><i class="fa fa-check"></i></span>
      <% end %>
      <h3 class="plan-title">Team Plan</h3>
      <h2 class="plan-cost">$25<span class="per-month">/mo</span></h2>
      <p class="plan-description"></p>
      <div class="button bright-blue-button"><a href="#">Team Plan</a></div>
  </div>
</div>

<div id="premium-plan-modal" class="reveal" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <h3>Upgrade to the Premium Plan</h3>
  <p>Unlimited clients and unlimited projects</p>
  <%= form_for(resource, :as => resource_name, :html => { :id => :'payment-form' }, :url => registration_path(resource_name)) do |f| %>
        <%= fields_for(:tenant) do |w| %>
         <%= fields_for( :payment ) do |p| %>
        <div class="row col-md-12">
          <div class="form-group col-md-4 no-left-padding">
            <%= p.label :card_number, "Card Number", data: { stripe: 'label' } %>
            <%= p.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number' } %>
          </div>
          <div class="form-group col-md-2">
            <%= p.label :card_cvv, "Card CVV", data: { stripe: 'label' } %>
            <%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvv' } %>
          </div>
          <div class="form-group col-md-6">
            <div class="col-md-12">
              <%= p.label :card_expires, "Card Expires", data: { stripe: 'label' } %>
            </div>
            <div class="col-md-3">
              <%= p.select :card_expires_month,
                  options_for_select(Payment.month_options),
                  { include_blank: 'Month' },
                    "data-stripe" => "exp-month",
                    class: "form-control", required: true %>
            </div>
            <div class="col-md-3">
              <%= p.select :card_expires_year,
              options_for_select(Payment.year_options.push),
              { include_blank: 'Year' },
                class: "form-control",
                data: { stripe: "exp-year"}, required: true %>
            </div>
        </div>
    </div>
  <% end %>
        <% end %>
          
      <div class="row">
        <%= f.submit t('.upgrade_to_premium', :default => "Upgrade to Premium"), class: "button expand large-12 large-centered columns blue-button" %>
        <p class="form-service">By clicking "Upgrade to Premium" I agree to Rainier's Terms of Service.</p>
      </div>
<% end %>
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
    if($('div').hasClass('plan-selected') || $('div').hasClass('comingSoon')){
      var button1 = $('.plan-selected').find('.button');
      var button2 = $('.comingSoon').find('.button');
      button1.addClass('disabled');
      button2.addClass('disabled');
      button1.html('Current Plan');
      button2.html('Coming Soon');
    }
</script>
