<% if @tenant.plan == 'free' %>
  <h3 class="plan-statement">You are currently on a <%=@tenant.plan %> plan.</h3>
<% end %>

<div id="free-plan"class="<% if @tenant.plan == 'free' %>plan-selected <% end %>plan free columns large-3 large-offset-3">
 <% if @tenant.plan == 'free' %>
    <span class="plan-marker"><i class="fa fa-check"></i></span>
  <% end %>
  <h3 class="plan-title">Free Plan</h3>
  <h2 class="plan-cost">$0<span class="per-month">/mo</span></h2>
  <p class="plan-description">Your account is limited to only 3 clients and only 3 projects.</p>
  <button class="button bright-blue-button">Free Plan</button>
</div>
<div class="<% if @tenant.plan == 'premium' %>plan-selected <% end %>plan premium columns large-3">
  <% if @tenant.plan == 'premium' %>
    <span class="plan-marker"><i class="fa fa-check"></i></span>
  <% end %>
  <h3 class="plan-title">Premium Plan</h3>
  <h2 class="plan-cost">$10<span class="per-month">/mo</span></h2>
  <p class="plan-description">Unlimited clients and unlimited projects.</p>
  <button data-open="planModal" class="button bright-blue-button">Premium Plan</button>
</div>

<div id="planModal" class="reveal" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <h3>Please enter your billing information.</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= fields_for(:tenant) do |w| %>
         <%= fields_for( :payment ) do |p| %>
        <div class="row col-md-12">
          <div class="form-group col-md-4 no-left-padding">
            <%= p.label :card_number, "Card Number", data: { stripe: 'label' } %>
            <%= p.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number' } %>
          </div>
          <div class="form-group col-md-2">
            <%= p.label :card_cvv, "Card CVV", data: { stripe: 'label' } %>
            <%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvv' } %>
          </div>
          <div class="form-group col-md-6">
            <div class="col-md-12">
              <%= p.label :card_expires, "Card Expires", data: { stripe: 'label' } %>
            </div>
            <div class="col-md-3">
              <%= p.select :card_expires_month,
                  options_for_select(Payment.month_options),
                  { include_blank: 'Month' },
                    "data-stripe" => "exp-month",
                    class: "form-control", required: true %>
            </div>
            <div class="col-md-3">
              <%= p.select :card_expires_year,
              options_for_select(Payment.year_options.push),
              { include_blank: 'Year' },
                class: "form-control",
                data: { stripe: "exp-year"}, required: true %>
            </div>
        </div>
    </div>
  <% end %>
        <% end %>
          
      <div class="row">
        <%= f.submit t('.upgrade_to_premium', :default => "Upgrade to Premium"), class: "button expand large-12 large-centered columns blue-button" %>
        <p class="form-service">By clicking "Upgrade to Premium" I agree to Rainier's Terms of Service.</p>
      </div>
<% end %>
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
    if($('div').hasClass('plan-selected')){
      var button = $('.plan-selected').find('button');
      button.attr('disabled', true);
      button.html('Current Plan');
    }
</script>
