<% if @projects.size > 0 %>
<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Expected completion date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, tenant_project_path(project, tenant_id: @tenant.id) %></td>
        <td><%= project.expected_completion_date %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_tenant_project_path(project, tenant_id: @tenant.id) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, tenant_project_path(project, tenant_id: @tenant.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>You haven't created any projects yet.</p>
  <% end %>
<br>

<%= link_to 'New Project', new_tenant_project_path(tenant_id: @tenant.id) %>
