<% @title = @project.title%>








<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @project.details %>
</p>

<p>
  <strong>Invoice Number:</strong>
  <%= @project.invoice_number %>
</p>

<p>
  <strong>Expected completion date:</strong>
  <%= @project.expected_completion_date %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= tenant_name @project.tenant_id %>
</p>

<%= link_to 'Edit', edit_tenant_project_path(@project, tenant_id: @tenant.id) %>|
