<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : @title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  </head>

  <body class="dashboard-body">
   <div id="side-bar">
    <div id="profile-corner">
      <div id= "profile-message">
        <img id="profile-image" src="<%= gravatar_url(current_user.email) %>" alt="<%= @tenant.name %>">
        <h3>Welcome back,</h3>
        <a data-toggle="user-dropdown" class="has-dropdown"><h2 id="user-name"><%= @tenant.name %><span></span></h2></a>
              <div class="dropdown-pane" id="user-dropdown" data-dropdown data-auto-focus="true">
               <ul>
                <li><%= link_to('Edit Account', edit_user_registration_path(tenant_id: @tenant.id), title: 'Edit Account') %></li>
                <li><%= link_to('Logout', destroy_user_session_path, title: 'Logout', :method => :delete) %></li>
               </ul>
                
              </div>
      </div>
    </div>
      <nav id="side-navigation">
        <ul>
          <%= nav_link "<i class='fa fa-home'></i> Dashboard".html_safe,user_dashboard_path %>
          <%= nav_link "<i class='fa fa-folder'></i>Projects".html_safe, tenant_projects_path(tenant_id: @tenant.id)%>
          <%= nav_link "<i class='fa fa-users'></i> Clients".html_safe,new_member_path %>
          <li><a href="#"><i class="fa fa-usd"></i>Invoices</a></li>
          <li><a href="#"><i class="fa fa-inbox"></i>Messages<span class="message-count">9</span></a></li>
        </ul>
        <ul id="settings-nav">
          <li><a href="#"><i class="fa fa-cog"></i></a></li>
          <li><a href="#"><i class="fa fa-question"></i></a></li>
        </ul>
      </nav>
  </div>
  <div class="dashboard">
    <div class="header-bar">
      <h1 class="header-title"><%= @title %></h1>
      
    </div>
    <div class="dashboard-container clearfix" ">
    <%= render 'layouts/messages' %>

    <%= yield %>
  </div>
  </div>
  </body>
</html>
