<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : @title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  </head>

  <body class="dashboard-body">
   <div id="side-bar">
    <div id="profile-corner">
      <div id= "profile-message">
        <img id="profile-image" src="<%= gravatar_url(current_user.email) %>" alt="Mike Jones">
        <h3>Welcome back,</h3>
        <h2><%= @tenant.name %></h2>
      </div>
    </div>
      <nav id="side-navigation">
        <ul>
          <li class="active"><a href="#"><i class="fa fa-home"></i>Dashboard</a></li>
          <li><a href="#"><i class="fa fa-folder"></i>Projects</a></li>
          <li><a href="#"><i class="fa fa-users"></i>Clients</a></li>
          <li><a href="#"><i class="fa fa-usd"></i>Invoices</a></li>
          <li><a href="#"><i class="fa fa-inbox"></i>Messages<span class="message-count">9</span></a></li>
        </ul>
        <ul id="settings-nav">
          <li><a href="#"><i class="fa fa-cog"></i></a></li>
          <li><a href="#"><i class="fa fa-question"></i></a></li>
        </ul>
      </nav>
  </div>
  <div class="dashboard">
    <div class="header-bar">
      <h1 class="header-title"><%= @title %></h1>
    </div>
    <div class="dashboard-container">

    <%= yield %>
  </div>
  </div>
  </body>
</html>
