<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : @title %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  </head>

  <body class="landing-body">
   <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Rainier</li>
      <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if current_user %>
          <li class="col-md-8 user-name">
            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, user_dashboard_path, title: 'Edit Profile' %>
          </li>
          <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path, class: 'button button-xs button-danger', title: 'Logout', :method => :delete) %></li>
       <% else %>
          <li>
           <%= link_to('Sign In', new_user_session_path, class: 'button button-primary', title: 'Sign In') %>
          </li>
          <li>
           <%= link_to('Sign Up', new_user_registration_path, class: 'button button-primary', title: 'Sign Up') %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
    <%= yield %>

  </body>
</html>
